*{
    font-style: "Darker Grotesque",sans-serif;
}


.playbackSet{
    position: relative;
    margin-top: 50px;
   
   
}
.playbackSet video{
    height: 700px;
}

.video1 {
    width: 100%;

}
.formSet{
    position: absolute;
    top:52px;
    right: 86px;
    background-color: black;
    opacity: 80%;
    padding-left: 70px;
    width:500px;
    height: 628px;
    line-height: 38px;
    color: white;
}
label,.buttt button{
    font-size: 20px;
    font-weight: 400;
    
    
}
.buttt button,.boxsizing input{
    width: 80%;

}
.FlexSet input{
    width: 91%;
}

.buttt button:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.buttt button{margin-top: 20px;}